{% extends "layouts/elgreco/job-applicant.html" %}


{% block page_title %}
GOV.UK
{% endblock %}


{% block content %}

<main id="content" role="main">


  <div class="column-two-thirds">
    <div class="content">
      <h1 class="heading-large">We cannot show your record</h1>


      <p>This might be because your application is in progress.</p>

      <p>Even if you do not have settled status, you may have continuing rights to stay in the UK as an EU citizen or as a family member of an EU citizen under the <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2004:158:0077:0123:en:PDF">Free
          Movement Directive</a> or under existing immigration law. You can evidence this using your ID document or an immigration document issued by the Home Office</a>.</p>

      <details>
        <summary><span class="">If you have already been told you have status</span></summary>
        <div class="panel panel-border-narrow">
          <p>If you have already received confirmation that you do have status under the EU Settlement Scheme, but are still seeing this message, contact <a href="mailto:settlement-status-research@digital.homeoffice.gov.uk. ">settlement-status-research@digital.homeoffice.gov.uk</a>.</p>
        </div>
      </details>
      <p><a href="">Back to GOV.UK</a></p>
    </div>
  </div>
</main>

{% endblock %}